body {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.header-color {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.landing-grid {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: #3c1053;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  font-size: 20px;
  padding: 1em;
  color: white;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
}

.container-about{
  background-color: rgb(42, 52, 164);
  border-radius: 15px;
  border-style: hidden;
  padding: 18px; 
  text-align: center;
}

.container-about p{
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.container-about h1{
  font-family: 'Ruda', sans-serif;
}

/* 
About me section here
*/

#about {
  background: #282828;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: justify;
  overflow: hidden;
  padding-top: 98px;
  padding-bottom: 101px;
}

#about .triangle-right {
  margin-top: 95px;
  width: 0;
  height: 0;
  border-top: 259px solid transparent;
  border-left: 470px solid #d6c6b2;
  border-bottom: 259px solid transparent;


}

#about .triangle-right img {
  position: absolute;
  left: -1px;
  top: 81px;
  width: 74%;

}

.fa-play {
  font-size: 100px;

}


#about .p-first {
  margin-bottom: 30px;
}


#about h2 {
  margin-bottom: 47px;
  margin-top: 12px;

}


#about .social-link-text {
  margin-top: 50px;
  margin-bottom: 25px;

}

#about .about-link {
  padding-left: 0px;
}

#about .about-link li {
  display: inline-block;
}

#about .about-link li a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #d6c6b2;
  margin-right: 10px;
  font-size: 22px;
  color: #d6c6b2;
  transition: all .3s;

}


#about .about-link li a i:hover {
  color: #222222;
  background: #d6c6b2;
  border-color: #d6c6b2;

}


#about .about-img {
  position: relative;

}

#about .about-img {
  position: relative;

}

#about .about-img .man {
  position: absolute;
  bottom: 161px;
  top: 12px;
  left: -2px;
}

.color-3 {
  color: #d6c6b2;
}

.text-white {
  color: white;
}

p{
  margin-bottom: 0;
  line-height: 24px;
  color: #d6c6b2;
}

.btn-danger {
  border-radius: 0;
  padding: 10px 20px;
}

.btn-danger a{
  color: aliceblue;
}




@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  [class*="landing-grid"] {
    position: relative;
    width: 100%;
    height: 100%;

  }

  [class*="avatar-img"] {
    height: 250px;
    padding-top: 5em;
  }

  .banner-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  .banner-text p {
    font-size: 15px;
    padding: 1em;
    color: white;
    font-weight: bold;
  }

  .social-links {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
  }

  .social-links i {
    color: white;
    font-size: 4em;
    padding: 4px;
  }

    .projects-grid {
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 300px;
    }

  .mdl-shadow--16dp {
    width: 50% !important;
  }
}